<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115730735502-qsbn2fhvn83b9opvp1t7v2t4t50ndsa3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115730735502-qsbn2fhvn83b9opvp1t7v2t4t50ndsa3</string>
	<key>API_KEY</key>
	<string>AIzaSyDNdf_DH9owoXrLugf_cjD9RObNVGHTlUM</string>
	<key>GCM_SENDER_ID</key>
	<string>115730735502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1</string>
	<key>PROJECT_ID</key>
	<string>deliverease-4c543</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverease-4c543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115730735502:ios:dfe63be3f24c1cb938c4df</string>
	<key>DATABASE_URL</key>
	<string>https://deliverease-4c543-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>